<h1>List Enemies</h1>

<% if @enemies.empty? %>
  <p class="msg"> There's no Enemies to Show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Hero</th>
      </tr>
    </thead>

    <tbody>
      <% @enemies.each do |enemy| %>
        <tr>
          <td><%= enemy.name %></td>
          <td><%= enemy.hero.name %></td>
          <td class="button-config"><%= link_to 'More Details', enemy %></td>
          <% if User.find(session[:user_id]).login == "adm" %>
            <td class="button-config"><%= link_to 'Edit', edit_enemy_path(enemy) %></td>
            <td class="button-config"><%= link_to 'Destroy', enemy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>  

<br>
<% if User.find(session[:user_id]).login == "adm" %>
  <div class="button-footer"><%= link_to 'New Enemy', new_enemy_path %></div>
<% end %>