<h1>List Comics</h1>
<% if @comics.empty? %>
  <p class="msg"> There's no Comics to Show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Publishing</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @comics.each do |comic| %>
        <tr>
          <td><%= comic.name %></td>
          <td><%= comic.publishing %></td>
          <td><%= comic.date %></td>
          <td class="button-config"><%= link_to 'More Details', comic %></td>
          <% if User.find(session[:user_id]).login == "adm" %>
            <td class="button-config"><%= link_to 'Edit', edit_comic_path(comic) %></td>
            <td class="button-config"><%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>  

<br>
<% if User.find(session[:user_id]).login == "adm" %>
  <div class="button-footer"><%= link_to 'New Comic', new_comic_path %></div>
<% end %>