<h1>List Association</h1>
<% if @comics_heros.empty? %>
  <p class="msg"> There's no Association to Show</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Hero</th>
        <th>Comic</th>
      </tr>
    </thead>

    <tbody>
      <% @comics_heros.each do |comics_hero| %>
        <tr>
          <td><%= Hero.find(comics_hero.hero_id).name %></td>
          <td><%= Comic.find(comics_hero.comic_id).name %></td>
          <td class="button-config"><%= link_to 'More Details', comics_hero %></td>
          <% if User.find(session[:user_id]).login == "adm" %>
            <td class="button-config"><%= link_to 'Edit', edit_comics_hero_path(comics_hero) %></td>
            <td class="button-config"><%= link_to 'Destroy', comics_hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<% if User.find(session[:user_id]).login == "adm" %>
  <div class="button-footer"> <%= link_to 'Back', new_comics_hero_path %></div>
<% end %>  
