<h1>Listing comics_heros</h1>

<table>
  <thead>
    <tr>
      <th>Hero</th>
      <th>Comic</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comics_heros.each do |comics_hero| %>
      <tr>
        <td><%= comics_hero.hero_id %></td>
        <td><%= comics_hero.comic_id %></td>
        <td><%= link_to 'Show', comics_hero %></td>
        <td><%= link_to 'Edit', edit_comics_hero_path(comics_hero) %></td>
        <td><%= link_to 'Destroy', comics_hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comics hero', new_comics_hero_path %>
